#grid {
  border: 1px solid #000;
  border-spacing:0;
}

#grid tr:nth-child(3) td, 
#grid tr:nth-child(6) td {
  border-bottom: 1px solid #000;
}

#grid td {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #eee;
}

#grid td:nth-child(3),
#grid td:nth-child(6) {
  border-right: 1px solid #000;
}