#solve {
  display: none;
}
.sgrid {
  border: 1px solid #000;
  border-spacing:0;
}

.sgrid tr:nth-child(3) td, 
.sgrid tr:nth-child(6) td {
  border-bottom: 1px solid #000;
}

.sgrid td {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #eee;
}

.sgrid td:nth-child(3),
.sgrid td:nth-child(6) {
  border-right: 1px solid #000;
}
.loadCell {
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.message-container {
  display: none;
  border: 1px solid red;
  margin-top: 1em;
  width: 50%;
}


